<a href="/coins">👈 Back</a>
<br>
<br>

<p>
<li><b>Coin:</b> <%= @coin.coin_name %> <br/> </li>
<li><b>Community:</b> <%= @coin.community %> <br/> </li>
<li><b>Code:</b> <%= @coin.code %> <br/> </li>
<li><b>Whitepaper:</b> <%= @coin.whitepaper %> <br/> </li>
<li><b>Team:</b> <% @coin.teams.each do |team| %> </li>
<li><%= team.name %></li>
    <% end %>
<li><b>User:</b> <% @coin.users.each do |user| %> <br/> </li>
<li><%= user.username %></li>
  <% end %>

<br>
<%#= a  %>
<form class="" action="/coins/<%= @coin.id %>" method="post">
<!-- authorized_to_edit?  -->
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Coin Entry">
</form>
<br>
<a href="/coins/<%= @coin.id %>/edit"> edit coin entry</a>
<!-- authorized_to_edit?  -->
